.label {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    margin-bottom: 0;
}



::ng-deep .mat-form-field-wrapper .mat-form-field-infix{
    padding-bottom: 0;
    margin-right: 10px;
    width: 150px;
    border: 0;
}

.mat-form-field {
    text-align: right;
}

::ng-deep .mat-input-element {
    //color: #007acc !;
    color: white !important;
    text-align: center;
}

canvas { 
    //border-style: solid 
    
}

.canvasContener{
    border-radius: 10px;
    border-style: solid ;
    border-width: thin;
    overflow: hidden;
}

.suffix{
    color:white;
}

::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.25em;
}

.title {
    color:white;
}


.not-empty-select.mat-selected {
    color: white !important;
}
  
::ng-deep .mat-select-value-text {
    color: white !important;
}

