<div fxFill>

    <div fxLayout="column" fxLayoutAlign="center center" fxFill>

        <div fxLayout="row" fxLayoutAlign="center center" fxFill>


            <div class="contenerLabelnImg" fxLayout="column" fxLayoutAlign="center center">

                <button mat-button [routerLink]="['/generatorModule']">
                    <img class="icon" fxFlexFill src="../../assets/icon/licence_plate.png"/>
                </button>
                <div class="description">
                    Générateur de plaque
                </div>


            </div>



                <div class="contenerLabelnImg" fxLayout="column" fxLayoutAlign="center center" >
                    <button mat-button [routerLink]="['/incrustatorModule']">
                        <img class="icon" fxFlexFill src="../../assets/icon/licence_plate_incrustor.png"/>
                    </button>
                    <div class="description">
                        Incrustateur de plaque
                    </div>
                </div>


        </div>

    </div>

</div>
